@page "/SaveCandidate"
@using Blazored.FluentValidation;
@inject IJSRuntime js
@inject SweetAlertService Swal

<EditForm model ="@candidateModel" OnSubmit="OnSubmit">
    <FluentValidationValidator @ref="_fluentValidationValidator" Validator="Validator" />

    <div class="container container-fluid">
        <h2>Save Candidate</h2>
        <div class="row">
            <div class="mt-3 col-6">
                <label>First Name</label>
                <InputText @bind-Value="candidateModel.FirstName" class="form-control"></InputText>
                <ValidationMessage For="@(() => candidateModel.FirstName)" />
            </div>
            <div class="mt-3 col-6">
                <label>Last Name</label>
                <InputText @bind-Value="candidateModel.LastName" class="form-control"></InputText>
                <ValidationMessage For="@(() => candidateModel.LastName)" />
            </div>
            <div class="mt-3 col-6">
                <label>Email Address</label>
                <InputText @bind-Value="candidateModel.EmailAdress" class="form-control"></InputText>
                <ValidationMessage For="@(() => candidateModel.EmailAdress)" />
            </div>
            <div class="mt-3 col-6">
                <label>Phone Number</label>
                <InputText @bind-Value="candidateModel.PhoneNumber" class="form-control"></InputText>
                <ValidationMessage For="@(() => candidateModel.PhoneNumber)" />
            </div>
            <div class="mt-3 col-6">
                <label>Residential Zip Code</label>
                <InputText @bind-Value="candidateModel.ZipCode" class="form-control"></InputText>
                <ValidationMessage For="@(() => candidateModel.ZipCode)" />
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class=" w-25 mt-4 btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</EditForm>